# gitattributes for a MATLAB repo.

# Source files
# ============
*.m             text diff=matlab

# Binary files
# ============
*.mlx           binary
*.p             binary
*.mex*          binary
*.fig           binary
*.mat           binary
*.mdl           binary
*.slx           binary
*.mdlp          binary
*.slxp          binary
*.sldd          binary
*.mltbx         binary
*.mlappinstall  binary
*.mlpkginstall  binary
*.mn            binary